

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<groups>
		<run>
			<include name="regression" />
		</run>
	</groups>
	
	 
	<test name="Regression">
        <classes>
            <class name= "runner.RunnerTestNG"/>
        </classes>
    </test>
	

</suite> <!--
Suite -->

<!-- parallel="tests" thread-count="2"
<suite name="demo.nopecommerce regression testing" verbose="1" >

    <test name="Regression">
        <classes>
            <class name= "runner.RunnerTestNG"/>
        </classes>
    </test>
</suite>

 -->
